### QUESTIONS

Write SQL queries with sqlite that perform the following:

1.	Create a table named “employee” with columns as:
    a)	Employee_id (int): Make it the primary key<br>
    b)	Last_name<br> 
    c)	First_name<br>
    d)	Position<br>
    e)	Salary<br>
    f)	date_hired<br>
2.	Write a query to get the ‘unique’ Position from employee table
3.	Write a query to get all employee details from the employee table, order by first_name, in descending order.
4.	Write a query that returns employees’ first_name, last_name and salary, for salary greater than 200,000.
5.	One of the employees whose first_name was RUDA got married and changed her last_name to Peter, write a query to effect this change on her last name, thereafter, write a query that returns all her details to enable you view the change made to her name.
6.	One of the employees with last_name ‘KWAME’ left the organization for another job, write a query that removes his name from the database. View the whole table by writing another query to verify the change that was made to the employee.
7.	Write a query that renames the column “Position” to “job_role”
8.	Write a query to get the employee_id, (first_name, last_name), salary in ascending order of salary. Alias the first_name and last_name as “Name”.
9.	Write a query that gives the count of employees whose salaries are greater than 200,000. [Hint: Use the “COUNT” clause]
10.	Write a query to get the maximum and minimum salary from the employees table.

In [1]:
#1
import sqlite3
print("Successfully imported module")

# create a database
conn = sqlite3.connect("employee.db")

# check that the connection is succesful
print("Database created successfully!") ; print(type(conn))

# create a cursor object that allows the execution of SQL statements
cursor = conn.cursor()
print("cursor created successfully \n", type(cursor))

Successfully imported module
Database created successfully!
<class 'sqlite3.Connection'>
cursor created successfully
 <class 'sqlite3.Cursor'>

In [60]:
# create a table called employee
cursor.execute("""CREATE TABLE employee(Employee_id INTEGER PRIMARY KEY AUTOINCREMENT, Last_name TEXT, First_name TEXT, Position INTEGER, Salary INTEGER, Date_hired INTEGER)""")
print("Table created successfully")

Table created successfully

In [61]:
import pandas as pd
employee_df = pd.read_csv('employees.csv', delimiter=',')
employee_list = [tuple(row) for row in employee_df.values]
print(employee_list)

[('Lew', 'Allen', 'City Administrator', 295000, 2004), ('Sessoms', 'Allen', 'President', 295000, 2008), ('HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007), ('Lanier', 'Cathy', 'Chief', 230743, 1990), ('Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008), ('Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010), ('GRAY', 'VINCENT', 'Mayor', 200000, 2005), ('Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008), ('Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997), ('DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984), ('Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008), ('Miramontes', 'David', 'Medical Director', 193125, 2011), ('Graves', 'Warren', 'Chief Of Staff', 193125, 2011), ('Stanchfield', 'Eric', 'Executive Director', 193125, 2007), ('Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008), ('BROWN', 'KWAME', 'Chairman', 190000, 2005), ('Eure', 'Philip', 'Executive Director', 188692, 2000), ('Cooper', 'Ginnie', 'Executive Director', 188044, 2006), ('Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987), ('Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003), ('Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009), ('Parker', 'Craig', 'General Counsel', 186911, 2009), ('Farley', 'Mark', 'Vp  Human Resources', 186911, 2008), ('Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011), ('Quander', 'Paul', 'Deputy Mayor', 185000, 2009), ('Pierre ', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985), ('Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997), ('Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005), ('Morgan ', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991), ('Williamson', 'Michael', 'Deputy Director', 182000, 2011), ('White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989), ('Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987), ('Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005), ('LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972), ('Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007), ('Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005), ('Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991), ('Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007), ('RUDA', 'LISA', 'Chief Of Staff', 170000, 2007), ('Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007), ('Nuss', 'Laura', 'Director', 170000, 2007), ('Mancini', 'Robert', 'Acting Director', 170000, 2004), ('Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987), ('Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006), ('Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000), ('Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008), ('Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987), ('Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988), ('Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999), ('Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996), ('Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988), ('Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983), ('Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982), ('Berns', 'David', 'Dir Of Human Services', 165200, 2011), ('Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008), ('Mallory', 'Lisa', 'Acting Director', 165000, 2004), ('Flowers', 'Brian', 'General Counsel', 165000, 1985), ('Bellamy', 'Terry', 'Director', 165000, 2008), ('West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003), ('Pappas', 'Gregory', 'Deputy Dir', 164800, 2011), ('Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010), ('Owens', 'Karen', 'Dental Officer', 164800, 1989)]

In [62]:
# insert rows
cursor.executemany("INSERT INTO employee(Last_name, First_name, Position, Salary, Date_hired) VALUES(?,?,?,?,?)", employees_list)

# Print confirmation message
print("we have inserted", cursor.rowcount,"records to the table")

we have inserted 62 records to the table

In [59]:
# cursor.execute("DROP TABLE employee")

In [63]:
sql = "SELECT * FROM employee"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

(1, 'Lew', 'Allen', 'City Administrator', 295000, 2004)
(2, 'Sessoms', 'Allen', 'President', 295000, 2008)
(3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007)
(4, 'Lanier', 'Cathy', 'Chief', 230743, 1990)
(5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008)
(6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010)
(7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005)
(8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008)
(9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997)
(10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984)
(11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008)
(12, 'Miramontes', 'David', 'Medical Director', 193125, 2011)
(13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011)
(14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007)
(15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008)
(16, 'BROWN', 'KWAME', 'Chairman', 190000, 2005)
(17, 'Eure', 'Philip', 'Executive Director', 188692, 2000)
(18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006)
(19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987)
(20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003)
(21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009)
(22, 'Parker', 'Craig', 'General Counsel', 186911, 2009)
(23, 'Farley', 'Mark', 'Vp  Human Resources', 186911, 2008)
(24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011)
(25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009)
(26, 'Pierre ', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985)
(27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997)
(28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005)
(29, 'Morgan ', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991)
(30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011)
(31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989)
(32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987)
(33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005)
(34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972)
(35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007)
(36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005)
(37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991)
(38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007)
(39, 'RUDA', 'LISA', 'Chief Of Staff', 170000, 2007)
(40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007)
(41, 'Nuss', 'Laura', 'Director', 170000, 2007)
(42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004)
(43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987)
(44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006)
(45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000)
(46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008)
(47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987)
(48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988)
(49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999)
(50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996)
(51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988)
(52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983)
(53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982)
(54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011)
(55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008)
(56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004)
(57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985)
(58, 'Bellamy', 'Terry', 'Director', 165000, 2008)
(59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003)
(60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011)
(61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010)
(62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989)

In [64]:
conn.commit()

In [65]:
#2. Write a query to get the ‘unique’ Position from employee table

dp = "SELECT DISTINCT Position FROM employee"
cursor.execute(dp)
result_dp = cursor.fetchall()
for p in result_dp:
    print(p)

('City Administrator',)
('President',)
('Superintendent Of Schools',)
('Chief',)
('Medical Officer Psych',)
('Mayor',)
('Chief Financial Officer',)
('Workers Compensation Recipient',)
('Act Provost & Vp Acd Aff',)
('Medical Director',)
('Chief Of Staff',)
('Executive Director',)
('Chairman',)
('Medical Officer (psychiatry)',)
('Fire Chief',)
('Dir Of The Ctr For Wf Str & Ec',)
('General Counsel',)
('Vp  Human Resources',)
('Dep Mayor For Hlth & Hum Svcs',)
('Deputy Mayor',)
('Chief Medical Examiner',)
('Medical Officer (medical Exami',)
('Chief Investment Officer',)
('Deputy Director',)
('Deputy Superintendent',)
('Director',)
('Acting Director',)
('Medical Officer Opthal',)
('Administrative Librarian',)
('Medical Officer General Practi',)
('Assistant Fire Chief Srvs',)
('Dir Of Human Services',)
('Deputy Cfo Otr',)
('Director Homeland Sec & Ema',)
('Deputy Dir',)
('Supervisor Medical Officer',)
('Dental Officer',)

In [66]:
#3. Write a query to get all employee details from the employee table, order by first_name, in descending order.

all_emp = "SELECT * FROM employee ORDER BY First_name DESC"
cursor.execute(all_emp)
result_all_emp = cursor.fetchall()
for e in result_all_emp:
    print(e)

(13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011)
(7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005)
(50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996)
(15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008)
(58, 'Bellamy', 'Terry', 'Director', 165000, 2008)
(33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005)
(35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007)
(36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005)
(52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983)
(55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008)
(61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010)
(48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988)
(37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991)
(42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004)
(17, 'Eure', 'Philip', 'Executive Director', 188692, 2000)
(25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009)
(19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987)
(38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007)
(9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997)
(40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007)
(44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006)
(59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003)
(30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011)
(31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989)
(23, 'Farley', 'Mark', 'Vp  Human Resources', 186911, 2008)
(26, 'Pierre ', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985)
(56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004)
(41, 'Nuss', 'Laura', 'Director', 170000, 2007)
(10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984)
(39, 'RUDA', 'LISA', 'Chief Of Staff', 170000, 2007)
(32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987)
(46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008)
(20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003)
(47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987)
(53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982)
(8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008)
(62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989)
(16, 'BROWN', 'KWAME', 'Chairman', 190000, 2005)
(3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007)
(27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997)
(29, 'Morgan ', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991)
(21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009)
(43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987)
(60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011)
(11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008)
(18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006)
(14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007)
(6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010)
(12, 'Miramontes', 'David', 'Medical Director', 193125, 2011)
(54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011)
(22, 'Parker', 'Craig', 'General Counsel', 186911, 2009)
(4, 'Lanier', 'Cathy', 'Chief', 230743, 1990)
(28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005)
(57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985)
(5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008)
(51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988)
(24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011)
(34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972)
(49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999)
(1, 'Lew', 'Allen', 'City Administrator', 295000, 2004)
(2, 'Sessoms', 'Allen', 'President', 295000, 2008)
(45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000)

In [67]:
#4.	Write a query that returns employees’ first_name, last_name and salary, for salary greater than 200,000.

emp_200k = "SELECT First_name, Last_name, Salary FROM employee WHERE Salary > 200000"
cursor.execute(emp_200k)
result_emp_200k = cursor.fetchall()
for e in result_emp_200k:
    print(e)

('Allen', 'Lew', 295000)
('Allen', 'Sessoms', 295000)
('KAYATANYA', 'HENDERSON', 275000)
('Cathy', 'Lanier', 230743)
('Bernard', 'Arons', 206000)
('Elspeth', 'Ritchie', 206000)

In [69]:
#5.	One of the employees whose first_name was RUDA got married and changed her last_name to Peter,
# write a query to effect this change on her last name, thereafter,
# write a query that returns all her details to enable you view the change made to her name.

emp_ruda = "UPDATE employee SET Last_name='PETER' WHERE Last_name='RUDA'"
cursor.execute(emp_ruda)
print("Record sucessfully updated")

Record sucessfully updated

In [72]:
ruda = "SELECT * FROM employee WHERE Last_name='PETER'"
cursor.execute(ruda)
result_ruda = cursor.fetchall()
result_ruda

[(39, 'PETER', 'LISA', 'Chief Of Staff', 170000, 2007)]

In [5]:
#6. One of the employees with last_name ‘KWAME’ left the organization for another job,
# write a query that removes his name from the database.
# View the whole table by writing another query to verify the change that was made to the employee.

del_kwame = "DELETE FROM employee WHERE First_name = 'KWAME'"
cursor.execute(del_kwame)
print("Record sucessfully deleted")

Record sucessfully deleted

In [16]:
# verify 'KWAME' has been removed

emp_all = "SELECT * FROM employee"
cursor.execute(emp_all)
result_emp_all = cursor.fetchall()
result_emp_all

[(1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (23, 'Farley', 'Mark', 'Vp  Human Resources', 186911, 2008),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (26, 'Pierre ', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (29, 'Morgan ', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (39, 'PETER', 'LISA', 'Chief Of Staff', 170000, 2007),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989)]

In [13]:
#7. Write a query that renames the column “Position” to “job_role”

position_to_job_role = "ALTER TABLE employee RENAME COLUMN Position TO Job_role"
cursor.execute(position_to_job_role)
print("Column successfully updated")

Column successfully updated

In [38]:
#8. Write a query to get the employee_id, (first_name, last_name), salary in ascending order of salary.
# Alias the first_name and last_name as “Name”.

emp_asc = "SELECT Employee_id, First_name|| ' ' ||Last_name AS Name, Salary FROM employee ORDER BY Salary ASC"
cursor.execute(emp_asc)
result_emp_asc = cursor.fetchall()
result_emp_asc

[(60, 'Gregory Pappas', 164800),
 (61, 'Samia Altaf', 164800),
 (62, 'Karen Owens', 164800),
 (56, 'Lisa Mallory', 165000),
 (57, 'Brian Flowers', 165000),
 (58, 'Terry Bellamy', 165000),
 (59, 'Millicent West', 165000),
 (55, 'Stephen Cordi', 165162),
 (54, 'David Berns', 165200),
 (53, 'Kenneth Jackson', 165306),
 (52, 'Syed Zaidi', 165842),
 (49, 'Anjali Singh', 166370),
 (50, 'Umar Rahman', 166370),
 (51, 'Benjamin Adewale', 166370),
 (47, 'Kenneth Smothers', 166995),
 (48, 'Saleha Akhtar', 166995),
 (46, 'KyleeAnn Stevens', 167051),
 (45, 'Abayomi Jaji', 167062),
 (44, 'Nancy Davenport', 167200),
 (43, 'Henry Wicker', 168378),
 (39, 'LISA PETER', 170000),
 (40, 'Nathaniel Beers', 170000),
 (41, 'Laura Nuss', 170000),
 (42, 'Robert Mancini', 170000),
 (36, 'Syed Zaidi', 170344),
 (37, 'Robert Sherron', 170344),
 (38, 'Nicole Johnson', 170344),
 (35, 'Sylvia Atdjian', 170938),
 (34, 'BENJAMIN LUDWIG', 171517),
 (33, 'T Gore', 172101),
 (31, 'Mattie White', 180604),
 (32, 'Kyung Park', 180604),
 (30, 'Michael Williamson', 182000),
 (29, 'Johnson Sheila Morgan ', 183677),
 (27, 'Joseph Pestaner', 183892),
 (28, 'Carolyn Revercomb', 183892),
 (24, 'Beatriz Otero', 185000),
 (25, 'Paul Quander', 185000),
 (26, 'Louis Marie Pierre ', 185000),
 (21, 'Jeffrey Ruland', 186911),
 (22, 'Craig Parker', 186911),
 (23, 'Mark Farley', 186911),
 (20, 'Kenneth Ellerbe', 187302),
 (19, 'Nilda Yadao', 188027),
 (18, 'Ginnie Cooper', 188044),
 (17, 'Philip Eure', 188692),
 (15, 'Tyler Jones', 190550),
 (12, 'David Miramontes', 193125),
 (13, 'Warren Graves', 193125),
 (14, 'Eric Stanchfield', 193125),
 (11, 'Graeme Baxter', 196257),
 (10, 'LORETTA DUNCAN', 197808),
 (9, 'Natwar Gandhi', 199700),
 (7, 'VINCENT GRAY', 200000),
 (8, 'Katherine Marshall', 200000),
 (5, 'Bernard Arons', 206000),
 (6, 'Elspeth Ritchie', 206000),
 (4, 'Cathy Lanier', 230743),
 (3, 'KAYATANYA HENDERSON', 275000),
 (1, 'Allen Lew', 295000),
 (2, 'Allen Sessoms', 295000)]

In [51]:
#9. Write a query that gives the count of employees whose salaries are greater than 200,000.
# [Hint: Use the “COUNT” clause]

cnt_emp_gt_200k = "SELECT COUNT(Employee_id) FROM employee WHERE Salary > 200000"
cursor.execute(cnt_emp_gt_200k)
result_cnt_emp_gt_200k = cursor.fetchall()
result_cnt_emp_gt_200k

[(6,)]

In [52]:
#10. Write a query to get the maximum and minimum salary from the employees table.
# [Hint: Use the MAX, MIN functions]

max_sal = "SELECT MAX(Salary) FROM employee"
cursor.execute(max_sal)
result_max_sal = cursor.fetchall()
print("Maximum Salary :" ,result_max_sal)

min_sal = "SELECT MIN(Salary) FROM employee"
cursor.execute(min_sal)
result_min_sal = cursor.fetchall()
print("Minimum Salary :" ,result_min_sal)

Maximum Salary : [(295000,)]
Minimum Salary : [(164800,)]

In [53]:
conn.commit()
conn.close()